extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method='POST', action='/api/upload', enctype='multipart/form-data')
    p 请选择上传的文件
    input(type="file", name="avatar")
    input(type="submit" value="OK")

  form(method='POST', action='/api/qiniu', enctype='multipart/form-data')
    p 请选择上传的文件 至 七牛云
    input(type="file", name="avatar")
    input(type="submit" value="OK")